
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('darkhoneycomb.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DeajaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

@import "bootstrap";
@import "font-awesome";

html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}

#map {
 height: 300px;
}

.clear {
    clear: both;
}